<h1>Please Sign In</h1>
<%= @user.errors.full_messages %>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text" name="session[username]" value="<%= @user.username %>">
  </label>

  <label>Password
    <input type="password" name="session[password]" value="">
  </label>

  <input type="submit" name="Submit">

</form>
