/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require jquery-ui
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 input, textarea {
   background: #ccc;
   color: #000
 }



 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /* --- SITEWIDE --- */

 body {
   /*background: -webkit-linear-gradient(left, #000, #000, #aaa, #bbb, #aaa, #000, #000);*/
   background-image: url("../images/metal.jpg");
   color: #fff;
 }

 .display {

   width: 800px;
   margin: auto;
 }

 .logo {
   font-size: 48px;
   text-align: center;
   font-weight: bold;
   text-shadow: 1px 1px 2px #000;

 }

 .current-user {
   float: left
 }

 .logout {
   float: right
 }

 /* --- NAVBAR --- */

 .root-header {
   clear: both;
   background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
 }

 .root-navbar {
   width: 600px;
   margin: auto;

   color: #000
 }

 .root-buttons {
   float: right;
   width: 100%;

 }

 .root-buttons li {
   float: left;
   width: 120px;
   border: 1px solid #aaa;
   padding: 10px;
   text-align: center;
 }

 .root-buttons li:hover {
   background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}



 /* --- HOMEPAGE --- */

 .feed {
   position: relative;
 }

 .feed-ss-container {
   float: left;
   padding: 20px;
   position: relative;
   left: 0;
 }

.feed-ss {
  height: 100px;
  width: 100px;
  position: relative;

}

.feed-ss-title {
  font-size: 24px;
  padding: 20px;
  text-align: center;
  display: block;
}

.feed-new-ss {
  position: absolute;
  left: -140px;
}

.feed-new-ss-mover {
  position: absolute;
  left: 0px;
  transition: left 1000ms linear;
}

.feed-mover {
  left: 180px;
  transition: left 1000ms linear;
}

/* --- ALBUM-SHOW --- */

.album-ss {
  height: 100px;
  width: 100px;
  position: relative;
  left: 20px;
}

.album-ss-popout {
  height: 200px;
  display: none;

}

.album-ss:hover .album-ss-popout {
  display: inline;
  position: absolute;
  z-index: 10;
  border: 1px solid white;
  right: -100px
}

.album-ss-title {
  font-size: 24px;
  padding: 20px 50px;
  display: block;
}

.album-ss-container {
  float: left;
  padding: 20px;
  position: relative;
}

button.add-ss {
  display: block;
  clear: both;
}

/* --- SCREENSHOT-SHOW --- */


.ss-img {
  height: 300px;
  padding: 20px;
  background: #000;
  float: left;
}

.add-tag {
  clear: both;
}

.tags {
  float: right;
}

.add-comment {
  clear: both;
  display: block;
}

.ss-img:hover {
  cursor: pointer
}

/* --- USER-SHOW --- */

.avatar {
  height: 200px;
}
