/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require jquery-ui
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
   font-family: sans-serif;

 }

 ul {
   list-style: none;
 }

 input, textarea {
   background: #ccc;
   color: #000;
   border: 1px solid #000;
   padding: 10px;
 }

 .display {
   height: 100%
 }



 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /* --- SITEWIDE --- */

 body {
   background: -webkit-linear-gradient(left, #252d40, #252d40, #384057, #3f4b63, #374e82, #3f4b63, #384057, #252d40, #252d40);
   /*background-image: url("../images/metal.jpg");*/
   color: #fff;

 }

 .display {

   width: 800px;
   margin: auto;
   text-shadow: 1px 1px 1px #000;
 }

 .logo {
   float: left;
   font-size: 36px;
   margin: auto;
   font-weight: bold;
   text-shadow: 1px 1px 2px #000;
   padding: 5px;
 }

 .current-user {
   float: right;
   position: relative;
   padding: 5px;
   border: 1px solid #aaa;
   min-width: 100px;
   text-align: center
 }

 .current-user:hover {
   background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}


 button {
   background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
   padding: 10px;
   color: black;
   border-radius: 5px;
 }

 button:hover {
   background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}

.login {
  padding: 20px;
  background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
  color: #000
}

.sign-up {
  padding: 20px;
  background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
  color: #000
}

.root-buttons img {
  padding: 0;
  height: 40px;

}

.user-drop-down {
  display: none;
  border: 1px solid #aaa;
  top: 45px;
  right: 0;
  width: 150px;
}

.current-user:hover .user-drop-down {
  position: absolute;
  display: block;
}

.user-drop-down li {
  background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
  border: 1px solid #000;
  height: 20px;
  text-align: center;


}

.user-drop-down a {
  padding: 0 10px;
}

.user-drop-down li:hover {
  background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}

.logout-button {
  background: inherit;
  border: none;
  padding: inherit;
}

 /* --- NAVBAR --- */

.header-top {
  background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
  width: 100%
}

 .root-header {
   clear: both;
   width: 900px;
   margin: auto;
   background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
   color: #000;
 }

 .root-navbar {
   float: left;
   width: 300px;
   color: #000
 }

 .root-buttons {
   float: right;
   width: 100%;

 }

 .root-buttons a {
   float: left;
   width: 60px;
   border: 1px solid #aaa;

   text-align: center;
 }

 .root-buttons a:hover {
   background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}



 /* --- HOMEPAGE --- */

 .feed {
   position: relative;
   padding: 20px;

 }

 .feed-cont-title {
   margin: 40px 0 0 0;
   text-align: center;
 }

 .feed-ss-container {
   float: left;
   padding: 20px;
   position: relative;
   left: 0;
 }

.feed-ss {
  height: 100px;
  width: 100px;
  position: relative;

}

.feed-ss-title {
  font-size: 24px;
  padding: 20px;
  text-align: center;
  display: block;
  width: 80px;

}

.feed-new-ss {
  position: absolute;
  left: -140px;
}

.feed-new-ss-mover {
  position: absolute;
  left: 0px;
  transition: left 1000ms linear;
}

.feed-mover {
  left: 180px;
  transition: left 1000ms linear;
}


.personalfeed {
  width: 400px;
}

.personalfeed-title{
  clear: both;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.personalfeed li {
  width: 350px;
  margin: 10px 125px;
  background: #384057;
  border: 5px solid #eee;
}

.personalfeed-ss-title {
  padding: 10px
}

.personalfeed-ss {
  position: relative;
  left: 10px;
}


/* --- ALBUM-SHOW --- */

.album-ss {
  height: 100px;
  width: 100px;
  position: relative;
  left: 20px;
}

.album-ss-popout {
  height: 200px;
  display: none;
}

.album-show-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.album-ss:hover .album-ss-popout {
  display: inline;
  position: absolute;
  z-index: 10;
  border: 1px solid white;
  right: -100px
}

.album-ss-title {
  font-size: 24px;
  padding: 20px 50px;
  display: block;
}

.album-ss-container {
  float: left;
  padding: 20px;
  position: relative;
}

button.add-ss {
  display: block;
  clear: both;
}

/* --- SCREENSHOT-SHOW --- */


.ss-img {
  height: 300px;
  padding: 20px;
  background: #000;
  float: left;
}

.add-tag {
  clear: both;
}

.tags {
  float: right;
}

.add-comment {
  clear: both;
  display: block;
}

.ss-img:hover {
  cursor: pointer
}

.comments {
  list-style: circle outside
}

.child-comments {
  list-style: square inside
}

.screenshot-new-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

/* --- USER-SHOW --- */

.avatar {
  height: 200px;
  padding: 20px;
  float: left;
}

.username {
  font-size: 36px;
  padding: 20px;

}

.user-links {
  float: right;
}

.user-links li {
  padding: 20px;
}

.user-links a {
  background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
  color: #000;
  padding: 20px;
}


/* --- SEARCH --- */

.search-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

/* --- ALBUMS-INDEX --- */

.album-index-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.album-index-link {
  padding: 10px;
}


/* --- USER-FOLLOWERS --- */
.followers-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.followers-list-item {
  float: left;
  padding: 20px;
}

.followers-picture {
  height: 100px;
}


/* --- USER-FOLLOWEDS --- */
.followeds-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.followeds-list-item {
  float: left;
}

.followeds-picture {
  height: 100px;
}

/* --- USER-FAVORITES --- */
.favorites-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.favorites-list-item {
  float: left;
}

.favorites-picture {
  height: 100px;
}

/* --- USER-MESSAGES --- */

.inbox-title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.inbox-index li {
  background: #eee;
  color: #000;
  padding: 10px;
  border: 1px solid #aaa;
}

.inbox-index .unviewed-message {
  font-weight: bold;
  color: red;

}

/* --- MESSAGE-VIEW --- */

.message-body {
  position: relative;
  background: #ccc;
  width: 300px;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 10px;
}
