/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 input, textarea {
   background: #ccc;
   color: #000
 }



 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /* --- SITEWIDE --- */

 body {
   background: #000;
   color: #fff;
 }

 .display {
   background: #aaa;
   width: 800px;
   margin: auto;
 }

 /* --- NAVBAR --- */

 .root-header {
   background: -webkit-linear-gradient(#aaa, #ddd, #fff, #ccc, #aaa);
 }

 .root-navbar {
   width: 600px;
   margin: auto;

   color: #000
 }

 .root-buttons {
   float: right;
   width: 100%;

 }

 .root-buttons li {
   float: left;
   width: 100px;
   border: 1px solid #aaa;
   padding: 10px;
   text-align: center;
 }

 .root-buttons li:hover {
   background: -webkit-linear-gradient(#000, #ccc, #ddd, #ccc, #000);
}



 /* --- HOMEPAGE --- */




/* --- ALBUM-SHOW --- */

.album-ss {
  height: 100px;
  width: 100px;
  position: relative;
  left: 20px;
}

.album-ss-popout {
  height: 200px;
  display: none;

}

.album-ss:hover .album-ss-popout {
  display: inline;
  position: absolute;
  z-index: 10;
  border: 1px solid white;
  right: -100px
}

.album-ss-title {
  font-size: 24px;
  padding: 20px 50px;
  display: block;
}

.album-ss-container {
  float: left;
  padding: 20px;
  position: relative;
}

button.add-ss {
  display: block;
  clear: both;
}

/* --- SCREENSHOT-SHOW --- */


.ss-img {
  height: 300px
}
