<form class="add-more-ss">
  <% album.other_ss().each(function(screenshot){ %>
    <% if (screenshot.get("album_id") === null) {%>
        <input class="added-ss" type="checkbox" name="added-ss[]" label="<%= screenshot.escape("title") %>" value="<%= screenshot.get("id") %>"><%= screenshot.escape("title") %>
        <br>
        <img src="<%= screenshot.escape("thumb_url") %>"/>
        <br>
      <% } %>
  <%  }) %>
  <input class="submit-add" type="submit" name="Submit" value="Add These Screenshots">
</form>
