

<h1> <%= album.escape("title") %> </h1>

<% album.screenshots().each(function (screenshot) { %>

  <span> <%= screenshot.escape("title") %> </span>


  <img src="<%= screenshot.escape("image_url") %>" alt="" />


<% }.bind(album)) %>
<br>
<br>
<% if (Instagib.current_user_id === album.get("owner_id")) {%>
<a class="add-ss" href="#">Add screenshots to this album</a>
<% } %>
