<h1 class="followeds-title"> <%= user.escape("username") %>'s Followeds </h1>
<ul>
<% followeds.each(function(followed) { %>
  <li class="followeds-list-item">

    <a href="#/users/<%=followed.id%>"><img class="followeds-picture" src="<%= followed.get("thumb_url") %>" alt="" />
    <br>
    <%= followed.escape("username") %></a>
    <br>

  </li>
<%  }) %>
</ul>
