<h1> <%= user.escape("username") %>'s Followers </h1>
<ul>
<% followers.each(function(follower) { %>
  <li>

    <a href="#/users/<%=follower.id%>"><img src="<%= follower.get("thumb_url") %>" alt="" />
    <br>
    <%= follower.escape("username") %></a>
    <br>

  </li>
<%  }) %>
</ul>
