<h1> <%= user.escape("username") %>'s Followeds </h1>
<ul>
<% followeds.each(function(followed) { %>
  <li>

    <a href="#/users/<%=followed.id%>"><img src="<%= followed.get("thumb_url") %>" alt="" />
    <br>
    <%= followed.escape("username") %></a>
    <br>

  </li>
<%  }) %>
</ul>
