
  <li class="feed-ss-container">



  <a class="feed-ss" data-id="<%=screenshot.get('id')%>" href="#/screenshots/<%=screenshot.get('id')%>"><img class="feed-ss" src="<%= screenshot.get("thumb_url") %>" alt="" />
    </a>
  <br>
<span class="feed-ss-title"> <%= screenshot.escape("title") %> </span>

  <br>
</li>
