
  <li class="feed-ss-container feed-new-ss">
  <span class="feed-ss-title"> <%= screenshot.escape("title") %> </span>


  <a class="feed-ss" data-id="<%=screenshot.get('id')%>" href="#/screenshots/<%=screenshot.get('id')%>"><img class="feed-ss" src="<%= screenshot.get("picture") %>" alt="" />
    </a>
  <br>


  <br>
</li>
