<form class="tag-form">
  <input type="text" name="tag[label]">
  <input type="hidden" name="tag[ss_id]" value="<%= screenshot.get("id") %>">

  <input class="submit-tag" type="submit" name="submit" value="Submit">
</form>
