<h1>SEARCH!</h1>

<label> Search
  <input type="text" class="query" name="query" value="">
</label>

<ul>
  <% results.each(function(result) { %>
    <li>
      <% if (result instanceof Instagib.Models.User) {%>
        <%= result.escape("username") %> (User)
      <% } else { %>
        <%= result.escape("title") %>
        (<%=result.get("_type")%>)
      <% } %>
    </li>

  <%  }) %>

</ul>
