<h1> <%= screenshot.escape("title") %> </h1>


<img src="<%= screenshot.escape("image_url") %>" alt="" />

<ul class="comments">


<% screenshot.topLevelComments().each(function (comment) { %>
  <h1>HELLO!</h1>
  <script>
    $(".comments").append(JST.comments())
  </script>

<% }) %>
</ul>
