<h1 class="screenshot-new-title"> Upload a new Screenshot </h1>

<form class="new-ss" >

  <label> Title
    <input class="new-title" type="text" name="title" value="">
  </label>
  <br>
  <label>Screenshot
    <input class="picture-input" type="file" name="picture">
  </label>
<br>

  <label> Game
  <input type="text" name="game_tag[label]" value="">
  </label>
<br>
  <input class="create" type="submit" value="Submit">
<br>

</form>


  <img id="picture-preview">
