<form class="new-ss" >

  <label> Title
    <input class="new-title" type="text" name="screenshot[title]" value="">
  </label>

  <label>URL
    <input class="new-url" type="text" name="screenshot[image_url]" value="">
  </label>

  <input class="create" type="submit" value="Submit">
</form>
