<h1> <%= screenshot.escape("title") %> </h1>


<img src="<%= screenshot.escape("image_url") %>" alt="" />
<br>
<% if (Instagib.current_user_id) { %>
<button class="add-comment">Add a new Comment</button>
<% } %>
<ul class="comments">
  <h1>Comments!</h1>

<% screenshot.topLevelComments().each(function (topComment) { %>



    <%=JST.comment_show({comment: topComment})%>


<% }) %>
</ul>
