<form class="new-session-modal">
  <p class="validation-tips">Please Sign In<p>

  <label>Username
    <input type="text" name="session[username]" value="">
  </label>
<br>
  <label>Password
    <input type="password" name="session[password]" value="">
  </label>
<br>
  <input type="submit" name="Submit">

</form>
