<h1>Please Sign In</h1>
<% if @user.errors %>
<% @user.errors.full_messages.each do |error| %>
<%= error %>
<% end %>
<% end %>

<form action="<%= session_url %>" method="post">


  <label>Username
    <input type="text" name="session[username]" value="<%= @user.username %>">
  </label>
<br>
  <label>Password
    <input type="password" name="session[password]" value="">
  </label>
<br>
  <input type="submit" name="Submit">

</form>
