



<form class="new-user-modal">
  <p class="validation-tips">Please Sign Up<p>

  <label>Username
    <input type="text" name="username" value="">
  </label>
<br>
  <label>Email
    <input type="text" name="email" value="">
  </label>
<br>
  <label>Password
    <input type="password" name="password" value="">
  </label>
<br>
<label> Avatar (you are not required to choose one now)
  <input class="avatar-input" type="file">
</label>
<br>


</form>
