<h1 class="username"><%= user.escape("username") %>'s Page</h1>

<% if (Instagib.current_user_id === user.get("id") ){%>
<span class="email"> <%= user.escape("email") %> </span>
<% } else { %>
  <% if (Instagib.current_user_id) {%>
    <% if (user.isFollowed(Instagib.current_user_id)) { %>
      <button class="unfollow">Unfollow</button>
    <% } else { %>
      <button class="follow">Follow</button>
    <% } } }%>

<br>
<img class="avatar" src="<%= user.get("picture") %>" alt="" />

<button class="followers">See Followers</button>

<button class="followed">See Followed</button>

<button class="favorites">See Favorite Screenshots!</button>
